# Environment variables & Secrets
.env
*.env
.env.*

# Python caches
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# OS and Editor files
.DS_Store
Thumbs.db
*.tmp
.vscode/
.idea/

# Backups and Logs
*.bak
*_backup.csv
*.log
*log.txt
scratch/

